

{{ 'section-brands.css' | asset_url | stylesheet_tag }}

{% assign brandslist = linklists["brands-list"] %}

<section class="brands-container">
  outside top
  <div class="grid-container">
    {% for link in brandslist %}
    <div class="grid-item">
      <a href="{{ link.url }}" class="link link--text grid-brand__item grid-brand__item--link{% if link.active %} grid-brand__item--active{% endif %}">
        {{ link.title }}
      </a>
    </div>
    {% endfor %}
  </div>
  outside bottom
</section>



{% schema %}
{
  "name": "Brand List",
  "class": "brands-container",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    }
  ]
}
{% endschema %}

