<style>
  .grid-container {
    justify-content: center;
  }
</style>



<div class="grid-container">
  {% for link in section.settings.menu.links %}
    <a href="{{ link.url }}" class="link link--text grid-brand__item grid-brand__item--link{% if link.active %} grid-brand__item--active{% endif %}">
      {{ link.title }}
    </a>
  {% endfor %}
</div>

{% schema %}
  {
    "name": "Brand List",
    "class": "brands-container",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "default": "main-menu",
        "label": "Brands List"
      }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
