{{ 'section-brands.css' | asset_url | stylesheet_tag }}

<section class="brands-container">
  <div class="grid-container">
    
  </div>
</section>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
