

{{ 'section-brands-table-test.css' | asset_url | stylesheet_tag }}

<section class="brands-container">
  <div class="grid-container">
    {% for link in section.settings.menu.links %}
    <!-- <div class="grid-item"> -->
      <a href="{{ link.url }}" class="link link--text grid-brand__item grid-brand__item--link{% if link.active %} grid-brand__item--active{% endif %}">
        {{ link.title }}
      </a>
    <!-- </div>-->
    {% endfor %}
  </div>
</section>



{% schema %}
{
  "name": "Brand List",
  "class": "brands-container",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Brands List"
    }
  ]
}
{% endschema %}

