<style>
  .grid-container {
    justify-content: center;
    display: grid;
  }
  
  .grind-container .brand-link {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
  }
</style>



<div class="grid-container">
  {% for link in section.settings.menu.links %}
    <a href="{{ link.url }}" class="brand-link">
      {{ link.title }}
    </a>
  {% endfor %}
</div>

{% schema %}
  {
    "name": "Brand List",
    "class": "brands-container",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "default": "main-menu",
        "label": "Brands List"
      }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
