<div class="section-new-balance-jd-sports-video">
<video autoplay muted loop playsinline class="section-new-balance-jd-sports">
<source src="https://cdn.shopify.com/videos/c/o/v/5ec2fe2c63774f44a1aa7360b140bb3b.mp4" type="video/mp4">
</video>
</div>
{% schema %}
{
"name": "NBJDSS23",
"class": "index-section index-section--flush",
"settings": [],
"presets": [{
"name": "NBJDSS23",
"category": "Text"
}]
}
{% endschema %}
{% stylesheet %}
.section-new-balance-jd-sports{
width: 100%;
#height: auto;
padding-left: 100px;
padding-right: 100px;
align-items: center;
}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}