.collage-wrapper-title {
  margin-top: 0;
  margin-bottom: 3rem;
}

.collage {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns */
  grid-template-rows: auto auto auto; /* Three rows */
  grid-column-gap: var(--grid-horizontal-spacing, 20px); /* Horizontal spacing */
  grid-row-gap: var(--grid-vertical-spacing, 20px); /* Vertical spacing */
}

.collage__item > * {
  width: 100%;
}

@media screen and (max-width: 749px) {
  .collage {
    grid-template-columns: repeat(2, 1fr); /* Two columns for mobile */
    grid-template-rows: auto auto auto auto auto; /* Allow for up to 5 rows for overflow */
    grid-column-gap: var(--grid-mobile-horizontal-spacing, 15px); /* Adjust for mobile */
    grid-row-gap: var(--grid-mobile-vertical-spacing, 15px);
  }

  .collage--mobile .collage__item {
    grid-column: span 1;
  }
}

@media screen and (min-width: 750px) {
  .collage {
    grid-template-columns: repeat(3, 1fr); /* Three columns for desktop */
    grid-template-rows: auto auto auto; /* Three rows */
  }

  /* Ensuring blocks occupy a single cell each */
  .collage__item {
    grid-column: auto / span 1;
    grid-row: auto / span 1;
  }
}

/* Common styles for all items */
.collage-card {
  background: rgb(var(--color-background));
  border-radius: var(--card-corner-radius);
  border: var(--card-border-width) solid rgba(var(--color-foreground), var(--card-border-opacity));
  height: 100%;
  padding: var(--card-image-padding);
  position: relative;
}

.collage-card:after {
  border-radius: var(--card-corner-radius);
  box-shadow: var(--card-shadow-horizontal-offset) var(--card-shadow-vertical-offset) var(--card-shadow-blur-radius) rgba(var(--color-shadow), var(--card-shadow-opacity));
  content: '';
  position: absolute;
  width: calc(var(--card-border-width) * 2 + 100%);
  height: calc(var(--card-border-width) * 2 + 100%);
  top: calc(var(--card-border-width) * -1);
  left: calc(var(--card-border-width) * -1);
  z-index: -1;
}

.collage-card .media {
  border-radius: calc(var(--card-corner-radius) - var(--card-border-width) - var(--card-image-padding));
  height: 100%;
  overflow: hidden;
}

.collage-card .deferred-media {
  height: 100%;
  overflow: visible;
}

.collage-card__link {
  display: block;
  height: 100%;
}

.collage-card .deferred-media__poster {
  background-color: transparent;
  border: 0;
}

.collage-card .deferred-media__poster:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: calc(var(--card-border-width) * -1);
  left: calc(var(--card-border-width) * -1);
  right: calc(var(--card-border-width) * -1);
  top: calc(var(--card-border-width) * -1);
  outline-offset: 0.3rem;
}

.collage-card .deferred-media__poster:focus:after {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3);
  outline: 0.2rem solid rgba(var(--color-foreground), 0.5);
}

.collage-card .deferred-media__poster:focus-visible:after {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3);
  outline: 0.2rem solid rgba(var(--color-foreground), 0.5);
}

.collage-card .deferred-media__poster:focus:not(:focus-visible),
.collage-card .deferred-media__poster:focus:not(:focus-visible):after {
  outline: none;
  box-shadow: none;
}

.collage-card .deferred-media__poster:focus {
  outline: none;
  box-shadow: none;
}

.collage .collage-card-spacing img {
  object-fit: contain;
}
