.grid-item {
  grid-area: brandname;
}

.grid-container {
  display: grid;
  grid-auto-flow: column;
  gap: 50px 100px;
  margin: 25px auto 0;
  width: 90%;
  column-count: 3;
  font-size: 90%;
  grid-template-columns: repeat(auto-fit, minmax(min(100%/1, max(100%/3)), 1fr));
  grid-gap: 10px;
  padding: 10px;
}

@media only screen and (max-width: 749px)
.brands-container {
    padding-left: 12px;
    padding-right: 12px;
}
.brands-container {
    padding-left: 25px;
    padding-right: 25px;
}
.brands-container {
    *zoom: 1;
    max-width: 1500px;
    margin: 0 auto;
}

.grid-brand--right {
  
}

.grid-brand--disclosure {
  position: absolute;
  min-width: 100%;
  width: 20rem;
  border: 1px solid rgba(var(--color-foreground), 0.2);
  background-color: rgb(var(--color-background));
}

.grid-brand--disclosure:focus {
  outline: none;
}

.grid-brand__item--active {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

.grid-brand__item--active:hover {
  text-decoration-thickness: 0.2rem;
}

.grid-brand--disclosure.localization-selector {
  max-height: 18rem;
  overflow: auto;
  width: 10rem;
  padding: 0.5rem;
}