body {
    margin: 0;
    font-family: 'Nunito';
}

.brands-container {
  .grid-container {
    padding: 3em;
    display: grid;
    grid-gap: 20em;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  // Change "auto-fit" to "auto-fill" above to see the difference

    .grid-item {
        padding: 2em;
        border-radius: .3em;
        box-shadow: 10px 10px 30px rgba(0,0,0,0.1);

        a {
            margin-top: 0;
        }

        a {
            font-weight: bold;
            position: relative;
            margin-left: 15px;

            &:before {
                content: '';
                position: absolute;
                height: 1px;
                width: 10px;
                border-bottom: 1px solid black;
                top: 10px;
                left: -15px;

            }
        }
    }
  }
}

@media (min-width: 550px) {
    /*
    .span-2 {
        grid-column: auto / span 2;
    }
    */
}