.brands-container {
  justify-content: center;
  display: block:
}

.grid-containewwerwerwerwerr {
  display: grid;
  grid-auto-flow: column;
  gap: 50px 100px;
  margin: 25px auto 0;
  width: 90%;
  column-count: 3;
  font-size: 90%;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr) ) ;;
  grid-template-rows: 100px;
  grid-gap: 10px;
  padding: 10px;
}

.grid-container {
  display: table;
  columns: 3;
  justify-content: center;
  
  text-align: center;
}

.grid-item a {
  padding: 10px;
  display: block;
  font-size: 1.0em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
  justify-content: center;
  display: block;
}

.grid-item a:link {
  color: #696969;
  text-decoration: none;
}
  
.grid-item a:hover {
  color: #000000;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  text-decoration-thickness: 0.2rem;
}

@media only screen and (max-width: 749px)
.brands-container {
    padding-left: 12px;
    padding-right: 12px;
}
.brands-container {
    padding-left: 25px;
    padding-right: 25px;
}
.brands-container {
    *zoom: 1;
    max-width: 1500px;
    margin: 0 auto;
}
